*{
    margin:0;
    padding:0;
    font-family: "Helvetica Neue",Arial, Helvetica, sans-serif;
}
header{
    display:flex;
    flex-direction: column;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color:white;
    padding:10px 5px;
    font-size: 14px;
}
nav ul{
    display: flex;
    list-style: none;
}

nav ul li a{
    padding:10px;
    color:white;
    text-decoration: none;
}
.left-nav{
    display: flex;
    align-items: center;
}
.logo{
    font-size: 24px;
    padding:0 15px;
}
.nav-icon{
    font-size: 17px;
    padding-right:7px;
    vertical-align: middle;
}
.right-nav ul li.menu{
    display:none;
}






@media screen and (max-width:600px) {
    
    .nav-elements,.right-nav>ul>li:nth-child(-n+3){
        display:none;
    }
   
    .right-nav ul li.menu{
        display:initial;
    }
    
}